.section {
  padding-top: 120px;

  &-header {}

  &-body {}

  &.home {
    &-statistics {
      background-color: blue;
    }

    &-banner {
      padding: 0;

      &-wrapper {
        padding: 85px 0;
      }
    }
  }
}
