


.adv-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #1c2f3f;
}
.Tema {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  border: 1px solid #c5d4e0;
  border-radius: 4px;
  width: 420px;
  height: 200px;
  padding: 20px;
  gap: 10px;
}

.Tema:hover,
.Tema:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.tema{
  display: flex;
  align-items: center;
  gap: 20px;
}

.tema h3 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1c2f3f;
}
.Tema p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #1c2f3f;
}
.tema img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.Advantage {
  display: flex;
  justify-content: space-between;
}
.AdvCard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media(max-width:1400px){
  .contain {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px /* 32px */;
    padding-left: 24px /* 32px */;
  }
  
}
@media (max-width: 1280px) {
  section{
    padding-top: 100px;
  }
  

  .Tema {
    width: 385px;
    height: 210px;
  }
  .AdvCard {
    gap: 20px;
  }
  .AdvCard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  section{
    padding-top: 100px;
  }
  .Tema {
    width: 330px;
    height: 210px;
  }
}
@media (max-width: 992px) {
  .Advantage {
    display: flex;
    flex-wrap: wrap;
  }
  .AdvCard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  section{
    padding-top: 50px;
  }
  
  .adv-title{
    margin-bottom: 20px;
  }
  .Tema {
    width: 100%;
    height: 210px;
  }
}

@media (max-width: 768px) {
  section{
    padding-top: 50px;
  }
  .Advantage {
    display: flex;
    flex-wrap: wrap;
  }
  .Tema {
    width: 100%;
    height: 280px;
  }
  .AdvCard {
    display: grid;
    grid-gap: 21px;
    grid-template-columns: repeat(2, 1fr);
  }
  .adv-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .Advantage {
    display: flex;
    flex-wrap: wrap;
  }

  .Tema {
    width: 100%;
    height: 210px;
  }
  .AdvCard {
    gap: 20px;
  }
  .AdvCard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .Advantage {
    display: flex;
    flex-wrap: wrap;
  }

  .Tema {
    width: 385px;
    height: 210px;
  }
  .AdvCard {
    gap: 20px;
  }
  .AdvCard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* // 1760
// 1440-1400
// 1200-1280
// 992
// 768
// 576
// 480
// 375
// 320 */
