.background{
    background: #078B6C;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
   }
   .footer-logo img{
    color: wheat;
    width: 45px;
    height: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.numimg{
    display: flex;
    align-items: center;
}
.numimg h2{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
}
.grid-2 h1{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.grid-3 h1{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
}
.footer-logo h1{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-right: 40px;
}  
.background .text-2{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-right: 40px;
opacity: 0.5;
margin-top: 15px;
}
h2 span{
    margin-top: 30px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
opacity: 0.5;
}
.background .text{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.background h2{
    margin-top: 20px;
}
.grid-4{
    height: 210px;
    background: #07A781;
border-radius: 4px;
padding: 20px;
}
.numimg h1{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
@media (max-width:768px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:640px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:414px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}