.nav {
  position: relative;
  // margin-top: 15px;
  // margin-bottom: 15px;
}
.nav .mobile-menu {
  display: none;
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
}
a:hover {
  color: black;
}
.newli{
  display: flex;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: gray;
  color: #465863;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: none;
}
.ant-dropdown-menu-item:hover{
  background-color: white;
}
ul {
  position: relative;
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  color: #1e2920;
}


.end-regist{
  display: flex;
  justify-content: center;

}
.end-regist h1{
  color: #ffffff;
  font-size: 15px;
}
.newli li:hover {
 color: #000;
}
/////////res burger menu  ////////////
.res-link {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #07a781;
}
.res-link li {
  color: white;
}
.res-menu {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: -1;
  width: 50%;
  min-width: 250px;
  height: 100vh;
  transition: all 0.3s ease-in;
  transform: translateX(-100%);
}
.open-res-menu {
  transform: translateY(0%);
}

// //////////

.nav-regist {
  display: flex;
  margin-left: 30px;
}

.Flex {
  cursor: pointer;
  height: 45px;
  width: 140px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}
.Flexx{
  cursor: pointer;
  height: 45px;
  width: 140px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
}

.regis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  background: #06b48b;
  border-radius: 4px;
  cursor: pointer;
}

.regis:hover {
  background: #3b9681;
}

.NavLogo {
  display: flex;
  align-items: center;
  width: 500px !important;
}

.NavLogo img {
  width: 45px;
  height: 40px;
  cursor: pointer;
}

.image {
  margin-right: 19px;
}
.navbarlogo {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.navbarlogo img {
  width: 30px;
  height: 30px;
}
.navbarlogo h1 {
  color: white;
  font-size: 14px;
}

.nav-logo {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.nav-logo h1 {
  font-size: 15px;
}
.nav-logo img {
  width: 35px;
  height: 35px;
}

.navlogo h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
}

.logoname {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #0a9675;
  margin-right: 40px;
}

.InputDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.InputDiv input {
  width: 650px;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox label {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #465863;
}
.checkbox input {
  width: 12.5px;
  height: 12.5px;
  margin-right: 11px;
}
span {
  color: rgba(28, 110, 176, 1);
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
input {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #465863;
  padding: 10px 15px 15px;
  width: 434px;
  height: 50px;
  background: #ffffff;
  border: 1.5px solid #c5d4e0;
  border-radius: 4px;
}
input:hover {
  transition: border 0.5s ease-out;
  border: 1px solid rgba(6, 180, 139, 1);
}
.scroll {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  transition: 0.3s;
}

.content::-webkit-scrollbar {
  display: none;
}

////////////  responsive navbar  /////////
.BurgerMenu {
  cursor: pointer;
  margin-left: auto;

  button {
    width: 36px;
    height: 36px;
  }
}

.BurgerMenu img {
  transition: 0.5s ease all;
  width: 30px;
  height: 30px;
}

.regist2:hover {
  background: #3b9681;
}

@media (max-width: 1280px) {
  .nav .container {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .NavLogo {
    display: none;
  }
  .menu {
    display: none;
  }
  .mobile-menu {
    position: sticky;
    top: 12px;
    right: 12px;
    z-index: 8;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex !important;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    // position: absolute;
    top: 12px;
    right: 12px;
    z-index: 8;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex !important;
  }

  .NavLogo {
    display: none;
  }
  .menu {
    display: none;
  }
  .res-menu {
    z-index: 9;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .forum button {
    margin-bottom: 30px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav .container{
    display: none;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  
}

@media (max-width: 576px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
  .NavLogo {
    display: none;
  }
  .menu {
    display: none;
  }
  
  .nav .container{
    display: block;
  }
}

@media (max-width: 375px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-direction: row;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: center;
  }

  .text2 {
    font-size: 15px;
  }

  .text0 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-bottom: 30px;
  }

  .flex11 {
    display: flex;
    flex-wrap: wrap;
  }

  .regist2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
  }

  .regist2 .h1 {
    font-size: 15px;
  }

  .firstPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .green {
    gap: 5px;
  }

  .gg {
    font-size: 7px;
    padding-left: 10px;
  }

  .firstPage img {
    margin-bottom: 20px;
  }

  .g1 {
    font-size: 7px;
    padding-left: 17px;
  }

  .textt h1 {
    margin-left: 50px;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .NavLogo {
    display: none;
  }
  .menu {
    display: none;
  }
  .GreenCard {
    padding-top: 20px;
  }

  .text0 {
    padding-bottom: 30px;
  }

  .green {
    gap: 10px;
  }

  .gg {
    font-size: 7px;
    padding-left: 10px;
  }

  .flex11 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .registration {
    display: flex;
    justify-content: center;
  }

  .regist2 {
    margin-top: 15px;
  }

  .text-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-2 h1 {
    font-size: 22px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .text-2 p {
    font-size: 13px;
  }
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  input {
    width: 100%;
  }
}

// 1760
// 1440-1400
// 1200-1280
// 992
// 768
// 576
// 480
// 375
// 320
